/* 
-------------------------------
CSS STYLING FOR OTHER PAGES
-------------------------------
*/

body {
    background-color: #333333;
    --defaultwidth: 1500px;
}

.project-page-about-div {
    display: block;
    width: 100%;
    max-width: var(--defaultwidth);
    margin: auto;
    color: white;
}

.project-page-about-container {
    display: block;
    width: 100%;
    margin: auto;
}

.project-page-projects-div {
    display: block;
    width: 100%;
    max-width: var(--defaultwidth);
    margin: auto;
    color: white;
}

.project-page-projects-container {
    display: block;
    width: 100%;
    margin: auto;
}

.project-tab {
    display: block;
    width: 80%;
    margin: 25px auto 25px auto;
    padding: 25px;
    border-radius: 25px;
    background: linear-gradient(145deg, #404040, #202020);
    box-shadow:  27px 27px 54px #1c1c1c,
                -27px -27px 54px #4a4a4a;
}

.project-page-projects-container-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.project-tab-flex {
    flex-basis: 35%;
    max-width: 80%;
    display: block;
    margin: 25px auto 25px auto;
    padding: 25px;
    border-radius: 25px;
    background: linear-gradient(145deg, #404040, #202020);
    box-shadow:  16px 16px 32px #1c1c1c,
                    -16px -16px 32px #4a4a4a;
}

.yt-video {
    flex-basis: 35%;
    max-width: 80%;
    height: min(260px, 20vw);
    border-radius: 25px;
    display: block;
    margin: 25px auto 25px auto;
}

.project-tab-heading {
    font-family: Hauser, sans-serif;
    font-size: 40px;
    margin: 15px; 
    letter-spacing: 1px;
    color: white;
}

.project-tab-picture {
    display: block;
    height: 250px;
    width: 90%;
    margin: auto;
    position: static;
    overflow: hidden;
    object-fit: none;
    border-radius: 25px;
    box-shadow:  27px 27px 54px #1c1c1c,
                -27px -27px 54px #4a4a4a;
}

#proplive {
    object-fit: cover;
    object-position: 50% 25%;
}

@media screen and (max-width: 1032px) {

}

@media screen and (max-width: 860px) {
    .project-tab-flex {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 600px) {

}

